@import './styles/common.css';

/* Home */
.centered-content {
  color: var(--soft-pink);
  background-color: var(--deep-sky-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.centered-content h1 {
  font-size: 8rem;
  margin-block-end: 0.2em;
  font-family: 'Arial', sans-serif;
}

.centered-content p {
  font-size: 1.5rem;
  font-family: 'Times New Roman', serif;
}

/* AppNavbar */
.appNavbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--royal-blue);
  color: var(--pale-rose);
  padding: 0.5rem 1rem;
  height: 4rem;
}

.appNavbar .logo {
  border-radius: 50%;
  background-color: white;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.appNavbar .login {
  cursor: pointer;
  margin-right: 2rem;
  color: var(--pale-rose);
  font-size: 3vh;
}

.appNavbar .login:hover {
  color: var(--soft-pink);
}

 /*LogIn */
.loginPage {
  background-color: var(--pale-rose);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginFormContainer {
  width: 40rem !important;
  margin-bottom: 0.5rem !important;
}

.loginForm {
  padding: 1rem 2rem !important;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--deep-sky-blue);
  color: var(--text-color-light);
  border-radius: 8px;
}

.loginForm input {
  height: 2rem;
  padding: 0.25rem;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  flex-direction: column; /* Stack the buttons vertically */
  align-items: center;
}

.buttonGroup .btn-custom {
  margin: 0.5rem 0; /* This adds space above and below each button */
  background-color: var(--royal-blue);
  color: var(--text-color-light);
  border: none; /* Remove border */
  width: 20rem !important;
}

.buttonGroup .btn-google {
  background-color: #DB4437;
}

.accountOptions {
  text-align: center; /* Center the "Don't have an account?" text */
}

.authSuggestion {
  margin: 2rem; /* Space between the "Don't have an account?" text and the buttons below */
}

.options {
  display: flex;
  justify-content: space-evenly; /* This will space out the two buttons evenly */
}

.optionButton, .linkButton {
  padding: 0.625rem 1.25rem;
  margin: -0.5rem; /* Space between buttons */
  border: none;
  border-radius: 0.25rem; /* Rounded corners */
  background-color: var(--royal-blue) !important;
  color: var(--text-color-light);
  text-align: center; /* Center the text */
  display: inline-block; /* Make the link behave like a button */
  text-decoration: none; /* Remove underline from links */
  cursor: pointer; /* Change cursor to indicate clickable */
  font-size: 1rem;
}

/* Hover effect */
.linkButton:hover, .optionButton:hover {
  background-color: #0056b3;
  text-decoration: none;
}

@media (max-width: 48em) {
  .optionButton, .linkButton {
    padding: 0.5rem 1rem; /* Slightly smaller padding on smaller screens */
    font-size: 0.9rem; /* Slightly smaller font size on smaller screens */
  }
}

/*Mentor List*/
.mentor-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
}

.mentor-card {
  background: var(--deep-sky-blue);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  margin: 0.125rem;
  padding: 1rem;
  border-radius: 0.625rem;
  max-width: calc(33.333% - 2rem); /* Subtracting twice the gap */
  flex-basis: calc(33.333% - 2rem); /* Subtracting twice the gap */
}

.mentor-header {
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  color: var(--text-color-light);
}

.mentor-header h3 {
  margin: 0;
  font-size: 1.5rem;
}

.mentor-header .center-text {
  text-align: center;
}

.experience-rating-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mentor-body {
  font-size: 0.875rem;
  background: var(--pale-rose);
  color: var(--text-color-dark);
  padding: 1em;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  height: 10em;
  margin-bottom: 1em;
}

.mentor-body p {
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  max-height: 7em;
}

.mentor-domains {
  position: absolute;
  bottom: 1em;
  left: 1em;
  right: 1em;
}

.mentor-domains .domain {
  display: inline-block;
  background: var(--soft-pink);
  color: var(--text-color-dark);
  padding: 0.3125rem 0.625rem;
  margin-right: 0.3125rem;
  border-radius: 15px;
  font-size: 0.75rem;
  max-width: 100%;
  overflow: hidden;
}

.mentor-rating {
  display: flex;
  align-items: center;
}

.mentor-rating .reviews {
  margin-left: 0.5rem;
  font-size: 0.875rem;
  color: var(--text-color-light);
}

.mentor-footer {
  text-align: right;
}

.mentor-footer button {
  margin-right: 0.625rem;
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 0.3125rem;
  background-color: var(--royal-blue);
  color: white;
  cursor: pointer;
}

.mentor-footer button.apply {
  background-color: #28a745;
}

/* Select domain */
.basic-multi-select {
  color: var(--text-color-dark);
}

/* Layout */
.main-content-container {
  padding-top: 4rem;
}

.filters {
  position: sticky;
  top: 4rem;
  background-color: white;
  z-index: 10;
  padding: 1em;
}

/* Mentor Application */
.incorrect-input {
  border: 1px solid red !important;
}

.mentor-application-container {
  padding-top: 2rem;
}

.mentor-application-buttons {
  padding-top: 1.5rem;
}

/* Applications */
.applications-table {
  margin-top: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 95% !important;
}

.mentee-column {
  width: 20%;
}

.mentor-column {
  width: 20%;
}

.status-column {
  width: 10%;
}

.created-column {
  width: 15%;
}

.updated-column {
  width: 15%;
}

.actions-column {
  width: 15%;
}

.full-screen-message-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center children vertically */
  align-items: center; /* Center children horizontally */
  height: calc(100vh - 4rem);
  text-align: center;
}

.full-screen-message {
  padding: 20px;
  box-sizing: border-box;
  max-width: 70%;
}
