@import './styles/common.css';

/* Home */
.centered-content {
  color: var(--soft-pink);
  background-color: var(--deep-sky-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.centered-content h1 {
  font-size: 8rem;
  margin-block-end: 0.2em;
  font-family: 'Arial', sans-serif;
}

.centered-content p {
  font-size: 1.5rem;
  font-family: 'Times New Roman', serif;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--soft-pink);
  color: var(--deep-sky-blue);
  padding: 0.5rem 1rem;
}

.navbar .logo {
  border-radius: 50%;
  background-color: white;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.navbar .login {
  cursor: pointer;
  margin-right: 2rem;
  color: var(--deep-sky-blue);
  font-size: 3vh;
}

.navbar .login:hover {
  color: var(--royal-blue);
}